{% extends "base.html" %}
{% block title %} 管理者 {% endblock %}
{% block content %}
<h1 align="center">
    我的賣場
</h1>
<h2 align="center">
    庫存
</h2>
<table align="center">
<tr>
<td align="center">商品名稱</td>
<td>單價</td>
<td>剩餘數量</td>
</tr>
    {% for vlist in good_list %}
        <tr>
            <td align="center">{{vlist.GoodsName}}</td>
            <td>{{vlist.GoodsPrice}}</td>
            <td align="center">{{vlist.GoodsQuantity}}</td>
            <td>
                <button type="button" onclick="location.href='{% url 'plusQuantity' vlist.GoodsName %}';">庫存量+1</button>
            </td>
            <td>
                <button type="button" onclick="location.href='{% url 'minusQuantity' vlist.GoodsName %}';">庫存量-1</button>
            </td>
            <td>
                <button type="button" onclick="location.href='{% url 'deleteGoods' vlist.GoodsName %}';">刪除</button>
            </td>
        </tr>
    {% endfor %}
</table>
<h2 align="center">
    新增商品
</h2>

<tr>
<form align="center" action="/store/add_function/" method="post">
    {% csrf_token %}
    <td>
        商品名稱:<input name="Goodsname" type="text">
    </td>
    <td>
        商品單價:<input name="Goodsprice" type="text">
    </td>
    <td>
        商品數量:<input name="Goodsquantity" type="text">
    </td>
    <td>
        <input type="submit" value="新增">
    </td>
</form>
</tr>
<h2 align="center">
    待出貨商品
</h2>
<table align="center">
<tr>
<td>商品名稱</td>
<td>&nbsp</td>
<td>單價</td>
<td>&nbsp</td>
<td>數量</td>
<td>&nbsp</td>
</tr>
    {% for slist in sold_list %}
        <tr>
            <td align="center">{{slist.SoldGoodsName}}</td>
            <td>&nbsp</td>
            <td>{{slist.SoldGoodsPrice}}</td>
            <td>&nbsp</td>
            <td align="center">{{slist.SoldGoodsQuantity}}</td>
            <td>&nbsp</td>
            <td>
                <button type="button" onclick="location.href='{% url 'shipping' slist.SoldGoodsName %}';">出貨</button>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}