{% extends "base.html" %}
{% block title %} 管理者 {% endblock %}
{% block content %}
<h1 align="center">
    我的賣場
</h1>
<h2 align="center">
    庫存
</h2>
<table align="center">
<tr>
<td align="center">商品名稱</td>
<td>單價</td>
<td>剩餘數量</td>
</tr>
    {% for vlist in good_list %}
        <tr>
            <td align="center">{{vlist.GoodsName}}</td>
            <td>{{vlist.GoodsPrice}}</td>
            <td align="center">{{vlist.GoodsQuantity}}</td>
            <td>
                <button type="button" onclick="">庫存量+1</button>
            </td>
            <td>
                <button type="button" onclick="">庫存量-1</button>
            </td>
            <td>
                <button type="button" onclick="">刪除</button>
            </td>
        </tr>
    {% endfor %}
</table>
<h2 align="center">
    新增商品
</h2>

<tr>
<form align="center">
    <td>
        商品名稱:<input name="name" type="text">
    </td>
    <td>
        商品價格:<input name="price" type="text">
    </td>
    <td>
        商品數量:<input name="quantity" type="text">
    </td>
    <td>
        <input type="submit" value="新增">
    </td>
</form>
</tr>
<h2 align="center">
    待出貨商品
</h2>
<table align="center">
<tr>
<td>商品名稱</td>
<td>&nbsp</td>
<td>單價</td>
<td>&nbsp</td>
<td>數量</td>
<td>&nbsp</td>
</tr>
    {% for slist in sold_list %}
        <tr>
            <td align="center">{{slist.SoldGoodsName}}</td>
            <td>&nbsp</td>
            <td>{{slist.SoldGoodsPrice}}</td>
            <td>&nbsp</td>
            <td align="center">{{slist.SoldGoodsQuantity}}</td>
            <td>&nbsp</td>
            <td><button type="button" onclick="">出貨</button></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}